<div class="clearfix"></div>    
<div class="sliderb">

<section id="jalebibai" class="carousel slide" data-ride="carousel">
<!--<ol class="carousel-indicators"> 
<li data-target="#jalebibai" data-slide-to="0" class="active" > </li>
<li data-target="#jalebibai" data-slide-to="1"> </li>
<li data-target="#jalebibai" data-slide-to="2"> </li>
</ol> -->
<section class="carousel-inner"> 
<article class="item active"> <img src="images/banner.jpg" alt="inner_slider" title="inner_slider" height="350">
<div class="carousel-caption"></div>  
</article>
<article class="item"> <img src="images/banner1.jpg" alt="home_slider" title="home_slider" height="350"> 
<div class="carousel-caption"></div>
</article>
<article class="item"> <img src="images/banner.jpg" alt="home_slider" title="home_slider" height="350"> 
<div class="carousel-caption"></div>
</article>


</section>
<!--control--> 
<div class="right carousel-control" href="#jalebibai" role="button" data-slide="prev"> 
<span class="glyphicon glyphicon-chevron-right"> </span>
</div>
<div class="left carousel-control" href="#jalebibai" role="button" data-slide="next"> 
<span class="glyphicon glyphicon-chevron-left"> </span>
</div>
</section>

<div class="slid-cover">
<h1>Every Meal With A Deal</h1>
<p>Providing a deal at the restaurant of your choice</p>
</div>
<div class="src">
<ul role="tablist">
<li class="active"><a href="#food" role="tab" data-toggle="tab">
<span class="food-icon" title="Food"></span>
<span>Food</span>
</a></li>
<li><a href="#lifestyle" role="tab" data-toggle="tab">
<span class="lifestyle-icon" title="Lifestyle"></span>
<span>Lifestyle</span>
</a></li>
<li><a href="#beauty" role="tab" data-toggle="tab">
<span class="beauty-icon" title="Beauty & Salon"></span>
<span>Beauty & Salon</span>
</a></li>
<li><a href="#health" role="tab" data-toggle="tab">
<span class="health-icon" title="Health & Wellness"></span>
<span>Health & Wellness</span>
</a></li>
<li><a href="#travell" role="tab" data-toggle="tab">
<span class="travell-icon" title="Travell"></span>
<span>Travell</span>
</a></li>
</ul>
<div class="clearfix"></div>
<div class="tab-content">
<div class="tab-pane active" id="food">
<form action="" method="post">	
<select class="slt">
<option>Food</option>
<option>Delhi</option>
</select>
<input class="input_src" type="search" name="search" id="search" placeholder="Search" required />
<button class="submit_src" type="submit" name="submits" /><i class="fa fa-search"></i></button>
</form>
</div>

<div class="tab-pane" id="lifestyle">
<form action="" method="post">	
<select class="slt">
<option>Lifestyle</option>
<option>Delhi</option>
</select>
<input class="input_src" type="search" name="search" id="search" placeholder="Search" required />
<button class="submit_src" type="submit" name="submits" /><i class="fa fa-search"></i></button>
</form>
</div>

<div class="tab-pane" id="beauty">
<form action="" method="post">	
<select class="slt">
<option>Beauty</option>
<option>Delhi</option>
</select>
<input class="input_src" type="search" name="search" id="search" placeholder="Search" required />
<button class="submit_src" type="submit" name="submits" /><i class="fa fa-search"></i></button>
</form>
</div>

<div class="tab-pane" id="health">
<form action="" method="post">	
<select class="slt">
<option>Health</option>
<option>Delhi</option>
</select>
<input class="input_src" type="search" name="search" id="search" placeholder="Search" required />
<button class="submit_src" type="submit" name="submits" /><i class="fa fa-search"></i></button>
</form>
</div>

<div class="tab-pane" id="travell">
<form action="" method="post">	
<select class="slt">
<option>Travell</option>
<option>Delhi</option>
</select>
<input class="input_src" type="search" name="search" id="search" placeholder="Search" required />
<button class="submit_src" type="submit" name="submits" /><i class="fa fa-search"></i></button>
</form>
</div>
</div>





</div>

</div>

<div class="clearfix"></div>    

<section class="container p-relative">
<figcaption class="row">
<div class="topmain-bg">
<div class="col-sm-12">
<h2>Unconditional Deals<span class="view-all" id="show">View All<p></p></span></h2>
</div>
</div>

<div class="container-main lt-rt-sado">
<img class="lt-sado" src="images/lt-sado.jpg" alt="lt-sado"><img class="rt-sado" src="images/rt-sado.jpg" alt="rt-sado">
<div class="col-sm-12">
<p>Explore curated lists of top restaurants, cafes, pubs & bars in and around Delhi NCR, based on trends </p>
</div>
</div><!--container-main lt-rt-sado-->
<div class="container-main-box">
<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/the-junkyard-cafe.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/di.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/oriental.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="p">
<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-sm-12"><button id="hide" class="hide-buttom">Hide All Services</button></div>
</div>
<div class="col-sm-12"><div class="divider-m"></div></div>
</div><!--container-main-box-->


<div class="container-main">
<img class="lt-sado" src="images/lt-sado.jpg" alt="lt-sado"><img class="rt-sado" src="images/rt-sado.jpg" alt="rt-sado">
<div class="col-sm-12">
<h2>Blogger’s Choice Deals <span class="view-all" id="show4">View All<p></p></span></h2>
<p>Explore curated lists of top restaurants, cafes, pubs & bars in and around Delhi NCR, based on trends </p>
</div>
</div><!--container-main-->
<div class="container-main-box">
<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="p4">
<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-sm-12"><button id="hide4" class="hide-buttom">Hide All Services</button></div>
</div>

<div class="col-sm-12"><div class="divider-m"></div></div>
</div><!--container-main-box-->


<div class="container-main">
<img class="lt-sado" src="images/lt-sado.jpg" alt="lt-sado"><img class="rt-sado" src="images/rt-sado.jpg" alt="rt-sado">
<div class="col-sm-12">
<h3>Deals of The Hour <span class="view-all" id="show1">View All<p></p></span></h3>
<p>Explore curated lists of top restaurants, cafes, pubs & bars in and around Delhi NCR, based on trends </p>
</div>
</div><!--container-main-->
<div class="container-main-box">
<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p>
<div class="deal-ending">
<table cellpadding="0" cellspacing="0" border="0" align="right">
<tr>
<td>Deal Ending</td><td><div class="hours-icon"></div></td>
<td>

<table cellpadding="0" cellspacing="0" border="0" width="">
<tr>
<th>H</th><th>M</th><th>S</th>
</tr>
<tr>
<td>01</td><td>:30</td><td>:20</td>
</tr>
</table>

</td>
</tr>
</table>
</div>
</p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p><div class="deal-ending">
<table cellpadding="0" cellspacing="0" border="0" align="right">
<tr>
<td>Deal Ending</td><td><div class="hours-icon"></div></td>
<td>

<table cellpadding="0" cellspacing="0" border="0" width="">
<tr>
<th>H</th><th>M</th><th>S</th>
</tr>
<tr>
<td>01</td><td>:30</td><td>:20</td>
</tr>
</table>

</td>
</tr>
</table>
</div></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p><div class="deal-ending">
<table cellpadding="0" cellspacing="0" border="0" align="right">
<tr>
<td>Deal Ending</td><td><div class="hours-icon"></div></td>
<td>

<table cellpadding="0" cellspacing="0" border="0" width="">
<tr>
<th>H</th><th>M</th><th>S</th>
</tr>
<tr>
<td>01</td><td>:30</td><td>:20</td>
</tr>
</table>

</td>
</tr>
</table>
</div></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="p1">
<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p><div class="deal-ending">
<table cellpadding="0" cellspacing="0" border="0" align="right">
<tr>
<td>Deal Ending</td><td><div class="hours-icon"></div></td>
<td>

<table cellpadding="0" cellspacing="0" border="0" width="">
<tr>
<th>H</th><th>M</th><th>S</th>
</tr>
<tr>
<td>01</td><td>:30</td><td>:20</td>
</tr>
</table>

</td>
</tr>
</table>
</div></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p><div class="deal-ending">
<table cellpadding="0" cellspacing="0" border="0" align="right">
<tr>
<td>Deal Ending</td><td><div class="hours-icon"></div></td>
<td>

<table cellpadding="0" cellspacing="0" border="0" width="">
<tr>
<th>H</th><th>M</th><th>S</th>
</tr>
<tr>
<td>01</td><td>:30</td><td>:20</td>
</tr>
</table>

</td>
</tr>
</table>
</div></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p><div class="deal-ending">
<table cellpadding="0" cellspacing="0" border="0" align="right">
<tr>
<td>Deal Ending</td><td><div class="hours-icon"></div></td>
<td>

<table cellpadding="0" cellspacing="0" border="0" width="">
<tr>
<th>H</th><th>M</th><th>S</th>
</tr>
<tr>
<td>01</td><td>:30</td><td>:20</td>
</tr>
</table>

</td>
</tr>
</table>
</div></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-sm-12"><button id="hide1" class="hide-buttom">Hide All Services</button></div>
</div>

<div class="col-sm-12"><div class="divider-m"></div></div>
</div><!--container-main-box-->




<div class="container-main">
<img class="lt-sado" src="images/lt-sado.jpg" alt="lt-sado"><img class="rt-sado" src="images/rt-sado.jpg" alt="rt-sado">
<div class="col-sm-12">
<h3>Last Minute Deals <span class="view-all" id="show2">View All<p></p></span></h3>
<p>Explore curated lists of top restaurants, cafes, pubs & bars in and around Delhi NCR, based on trends </p>
</div>
</div><!--container-main-->
<div class="container-main-box">
<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<p class="only-deals">Only 4 Deals Left!</p>
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span class="text-dec"><cod><i class="fa fa-inr"></i>999</cod></span></p>
<p class="text-right"><span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<p class="only-deals">Only 4 Deals Left!</p>
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span class="text-dec"><cod><i class="fa fa-inr"></i>999</cod></span></p>
<p class="text-right"><span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<p class="only-deals">Only 4 Deals Left!</p>
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span class="text-dec"><cod><i class="fa fa-inr"></i>999</cod></span></p>
<p class="text-right"><span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="p2">
<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<p class="only-deals">Only 4 Deals Left!</p>
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span class="text-dec"><cod><i class="fa fa-inr"></i>999</cod></span></p>
<p class="text-right"><span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<p class="only-deals">Only 4 Deals Left!</p>
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span class="text-dec"><cod><i class="fa fa-inr"></i>999</cod></span></p>
<p class="text-right"><span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<p class="only-deals">Only 4 Deals Left!</p>
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span class="text-dec"><cod><i class="fa fa-inr"></i>999</cod></span></p>
<p class="text-right"><span><i class="fa fa-inr"></i>999</span></p>
</div>

</div><!--img-box-->

</div>
<div class="col-sm-12"><button id="hide2" class="hide-buttom">Hide All Services</button></div>
</div>

<div class="col-sm-12"><div class="divider-m"></div></div>
</div><!--container-main-box-->




<div class="container-main">
<img class="lt-sado" src="images/lt-sado.jpg" alt="lt-sado"><img class="rt-sado" src="images/rt-sado.jpg" alt="rt-sado">
<div class="col-sm-12">
<h3>Corporate Deals <button class="creat-your-deal" type="button" data-toggle="modal" data-target="#myModal">Create Your Deal</button></h3>
<p>Explore curated lists of top restaurants, cafes, pubs & bars in and around Delhi NCR, based on trends</p>
</div>
</div><!--container-main-->
<div class="container-main-box">
<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/the-junkyard-cafe1.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Corporate Team Dining</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
<p class="text-right"><span>5 Pax</span><span class="pan-icon"></span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/ghent.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Corporate Team Lunch</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
<p class="text-right"><span>5 Pax</span><span class="pan-icon"></span></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/oriental1.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Corporate Cocktail Party</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
<p class="text-right"><span>5 Pax</span><span class="pan-icon"></span></p>
</div>

</div><!--img-box-->

</div>


<div class="customize-your"><img src="images/customize-your.jpg" alt="customize your" class="img-responsive"></div>
</div><!--container-main-box-->




<div class="container-main">
<img class="lt-sado" src="images/lt-sado.jpg" alt="lt-sado"><img class="rt-sado" src="images/rt-sado.jpg" alt="rt-sado">
<div class="col-sm-12">
<h3>Unlock The Deals <span class="view-all" id="show3">View All<p></p></span></h3>
<p>Explore curated lists of top restaurants, cafes, pubs & bars in and around Delhi NCR, based on trends</p>
</div>
</div><!--container-main-->
<div class="container-main-box">
<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
<p class="unloc-icon-text"><span class="unloc-icon"></span>300 Hit Coins <button class="unlock-b">Unlock</button></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
<p class="unloc-icon-text"><span class="unloc-icon"></span>300 Hit Coins <button class="unlock-b">Unlock</button></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
<p class="unloc-icon-text"><span class="unloc-icon"></span>300 Hit Coins <button class="unlock-b">Unlock</button></p>

</div>

</div><!--img-box-->

</div>

<div class="p3">
<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
<p class="unloc-icon-text"><span class="unloc-icon"></span>300 Hit Coins <button class="unlock-b">Unlock</button></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
<p class="unloc-icon-text"><span class="unloc-icon"></span>300 Hit Coins <button class="unlock-b">Unlock</button></p>
</div>

</div><!--img-box-->

</div>

<div class="col-lg-4 col-md-4 col-sm-4 span_1">
<div class="img-box">
<figure><img src="images/nm.jpg" alt="banner" class="img-responsive">
<div class="p-off">40% off</div>
<p></p>
</figure>
<div class="img-box-main-hed">
<div class="img-box-hed">
<h4>The Junkyard Cafe</h4>
<p>Connaught Place, New Delhi</p>
<div class="category-box">Bar/Lounge</div>
</div>
<div class="img-box-rated">
<p>Rated</p>
<h4><span>8.9</span>/10</h4>
</div>
</div><!--img-box-main-hed-->

<div class="img-box-deal">
<h4>Deal</h4>
<p>Starter + 2 Cocktails + Main Course <span><i class="fa fa-inr"></i>999</span></p>
<p class="unloc-icon-text"><span class="unloc-icon"></span>300 Hit Coins <button class="unlock-b">Unlock</button></p>

</div>

</div><!--img-box-->

</div>
<div class="col-sm-12"><button id="hide3" class="hide-buttom">Hide All Services</button></div>
</div>

</div><!--container-main-box-->



</figcaption>
</section>

<br><br>
{{City[1].CityName}}

<ul>
    <li ng-repeat="k in City">{{k.CityName}}</li>


</ul>
<br><br>
