

.maind{background: #fff; padding: 5px 10px; float: left; min-height:200px; border:1px solid #fff;}
    .maind a{display: block; color: green; padding: 5px; text-decoration: none;}
    .main2{float: left; padding: 5px 15px; border:1px solid #fff; min-height:200px}
    .mnd{max-width: 700px; margin: auto;}






.kl{width: 100%; padding: 0px 5px; text-align: center; height: auto; background:#f00; color: #000}